@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* common styles */
* {
    margin: 0;
    padding: 0;
}
:root{
    --orange-color: #FEA301;
    --skyBlue-color: #01ACFD;
    --black-color: #111111;
    --white-color: #F7F7F7;
    --fifth-color: #05D4DF;
    --sixth-color: #5D58EF;
    --seventh-color: #95B226;
}
.text-center {
    text-align: center;
}
body {
    max-width: 1440px;
    margin: 0 auto;  
    border: 2px solid skyblue; 
}
.container {
    max-width: 1160px;
    margin: 0 auto;    
    border: 2px solid tomato;
}
.d-none {
    display: none;
}
.span-1 {
    color: var(--orange-color);
}

.span-2 {
    color: var(--skyBlue-color);
}

.span-3 {
    color: var(--fifth-color);
}

.span-4 {
    color: var(--sixth-color);
}
/* header area */

.nav-area{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px;


}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-items {
    display: flex;
    gap: 30px;
}
.nav-items li {
    list-style: none;
}
.nav-items a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 700;
}
.nav-btn{
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color:var(--white-color);
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--orange-color);
    
}
.nav-icon{
    display: none;
}
.banner-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: chartreuse; */
}

.banner-info {
    width: 640px;
    height: 331px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-description {
    margin: 25px 0px;
    font-size: 1.25rem;
}

.banner-btn {
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: var(--white-color);
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--black-color);
}




